/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.dark-mode {
  background-color: #000000;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.light-mode {
  background-color: white;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 10px;
  color: #000000;
}
.btn {
  text-align: center;
  margin-left: 35%;
}
